*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    --color-1: rgba(52,52,53,1);
    --color-1-2:rgba(3,14,20,1);
    --color-1-2:rgb(0, 0, 0);
    --color-2: rgba(190,191,190,1);
    --color-2-2: rgba(76,80,83,1);
    --color-3: rgba(255,255,255,1);
    --color-3-2: rgba(235,234,234,1);
}

#main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--color-3);
    overflow: hidden;
    z-index:0;
}
p, #seconds{
    font-size: 120px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: var(--color-1);
}

#seconds-div{
    width: 150px;
}

#seconds{
    color: var(--color-2);
}

.black{
    background: var(--color-1-2) !important;
}

.grey{
    color: var(--color-2-2) !important;
}

.white{
    color: var(--color-3-2) !important;
}

#video{
    position: absolute;
    top:0;
    z-index: -10;
}

@media (max-width:800px){

    body{
        height: 100vh;
        overflow: hidden;
    }

    p, #seconds{
        font-size: 50px;
    }
    #seconds-div{
        width: 65px;
    }
}